
nav {
	display: block;
}

nav ul {
	list-style: none; margin: 0px; padding: 0px;
}

#mainmenu {
	list-style: none; margin: 0px; padding: 0px;
}

div.wrapper {
	margin: 0px auto; text-align: right;
}
div.cleaner {
	margin: 0px; height: 1px; line-height: 1px; clear: both; font-size: 1px;
}
div.clear {
	margin: 0px; height: 1px; line-height: 1px; clear: both; font-size: 1px;
}

#nav-main-menu {
	padding: 0px 0px 0px; position: relative; background-color:#073763;
}
#menu-main {
	padding: 0px; position: relative;
}
    #menu-main ul {
        margin:0px;padding:0px;
    }
#menu-main li {
	margin: 0px 1px 0px 0px; padding: 0px; text-transform:none; font-size: 12px; float: left; display: inline; position: relative;background-color:rgb(184,201,254);width:100px;text-align:center;
}
    #menu-main li:last-child {
        margin:0px;
    }
#menu-main .cleaner {
	height: 1px; line-height: 1px; clear: both; font-size: 1px; float: none; display: block;
}
#menu-main li li {
	background-color: rgb(51, 51, 51);
}
#menu-main li.cleaner {
	height: 1px; line-height: 1px; clear: both; font-size: 1px; float: none; display: block;
}
#menu-main li:hover {
	visibility: inherit;
}
#menu-main li:last-child {
	border-right-color: currentColor; border-right-width: 0px; border-right-style: none;
}
#menu-main a:hover {
	color: #073763;
}
#menu-main li.current-menu-item a {
	color: rgb(224, 197, 114);
}
#menu-main a:active {
	color: rgb(224, 197, 114);
}
#menu-main li.current-item a {
	color: rgb(224, 197, 114);
}
#menu-main li.current-menu-item li a {
	color: rgb(170, 170, 170);
}
#menu-main li.current-item li a {
	color: rgb(170, 170, 170);
}
#nav-main-menu .dropdown ul {
	background:#073763; margin: 0px; padding: 0px; top:-999em; width:100px; text-align: left; text-transform: none; position: absolute;
}
#nav-main-menu .dropdown ul li {
	margin: 0px; padding: 0px; width: 100%; text-transform: none; line-height: 22px; font-size: 12px; border-right-color: currentColor; border-bottom-color:#45818e; border-right-width: 0px; border-bottom-width: 1px; border-right-style: none; border-bottom-style: solid;background-color:#073763;
}
#nav-main-menu .dropdown ul li a {
	padding: 10px 12px; border-radius: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; -webkit-border-radius: 0; -moz-border-radius: 0;
}

#nav-main-menu .dropdown ul li a:hover {
	
}
#menu-main a {
	padding: 10px;  display: block; position: relative;line-height:12px;color:#073763;
}
#menu-main li li a {
	background: none; border: currentColor; border-image: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#menu-main .current-menu-item li a {
	background: none; border: currentColor; border-image: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#menu-main li .current-menu-item a {
	background: none; border: currentColor; border-image: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#menu-main li li a:hover {
	background: none; border: currentColor; border-image: none; -moz-box-shadow: none; -webkit-box-shadow: none;
}
#menu-main li li a {
	color: rgb(170, 170, 170);
}
#menu-main li li a:hover {
	color: rgb(255, 255, 255);
}
#nav-main-menu .dropdown li:hover ul {
	margin: 0px; padding: 0px; left: 0px;top:2.7em; z-index: 99;
}
#nav-main-menu .dropdown li.sfHover ul {
	margin: 0px; padding: 0px; left: 0px;top:2.7em; z-index: 99;
}
/*#nav-main-menu ul.dropdown li:hover li ul {
	top: -999em;
}
#nav-main-menu ul.dropdown li.sfHover li ul {
	top: -999em;
}
#nav-main-menu ul.dropdown li li:hover ul {
	left: 200px; top: 0px;
}
#nav-main-menu ul.dropdown li li.sfHover ul {
	left: 200px; top: 0px;
}
#nav-main-menu ul.dropdown li li:hover li ul {
	top: -999em;
}
#nav-main-menu ul.dropdown li li.sfHover li ul {
	top: -999em;
}
#nav-main-menu ul.dropdown li li li:hover ul {
	left: 200px; top: 0px;
}
#nav-main-menu ul.dropdown li li li.sfHover ul {
	left: 200px; top: 0px;
}
#nav-main-menu .dropdown li:hover {
	outline: 0px;
}
.dropdown li.sfHover {
	outline: 0px;
}
#nav-main-menu .dropdown a:focus {
	outline: 0px;
}
.dropdown a:hover {
	outline: 0px;
}
.dropdown a:active {
	outline: 0px;
}
#nav-main-menu .dropdown li ul .sf-sub-indicator {
	display: inline;
}
#nav-main-menu .wpzoom-notice {
	margin: 0px; padding: 15px 0px; color: rgb(255, 255, 255); font-size: 12px;
}
#nav-main-menu .wpzoom-notice a {
	color: rgb(255, 255, 255); text-decoration: underline;
}*/

