#data-table {
	/*display: none;*/
}
.bar span {
	background: url("../images/info-bg.gif") repeat-x 0px 100% rgb(254, 254, 254);
}
.fig0 {
	background: url("../images/bar-01-bg.gif") repeat-y 0px 0px rgb(116, 116, 116);
}
.fig1 {
	background: url("../images/bar-02-bg.gif") repeat-y 0px 0px rgb(101, 194, 232);
}
.fig2 {
	background: url("../images/bar-03-bg.gif") repeat-y 0px 0px rgb(238, 161, 81);
}
