/* 
    Style for Default Div
    */

#navtree {
    top: 0px;
    left: 5px;
    width: 270px;
    position: absolute;
    bottom:5px;
    color: #8a8a8a;
    z-index:999;
    border:none;
}
#nav-bar {
    display: block;
    text-align: center;
    color: #8a8a8a;
    top: 0px;
    position: absolute;
    background-color: #ffffff;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #dddddd;
  
}
#dvtree {
    margin-left: 0px;
    bottom:5px;top:35px;
    position:absolute;
    background-color: #f6f6f6;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #dddddd;
     border-top:none;
}
#dvnav {
   margin-top:5px;  
   box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
   border-top: 1px solid #dddddd;
}
/* Makes the side bar a minium height of the viewport width, making it inline block, and adding a background color */
.side-navbar-wrapper {
    /*height: 50vmin;*/
    display: inline-block;
    background: #ffffff;
     font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    background-color: #ffffff;
    /*-webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);*/
      /*-webkit-box-shadow: 1px 0px 2px 0px rgba(204, 204, 204, 1) !important;
        box-shadow: 1px 0px 2px 0px rgba(204, 204, 204, 1) !important;*/
    /*height:100%;*/
}

    /* We remove the margin, padding, and list style of UL and LI components */
    .side-navbar-wrapper ul, #menuwrapper ul li {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-top:5px;
    }

    /* Adding a small margin to the top of the side bar UL wrapper*/
    .side-navbar-wrapper ul {
        margin-top: 0px;
        z-index: 999;
    }

        /* We apply background color and width to 150px */
        .side-navbar-wrapper ul > li {
            width: 254px;
            cursor: pointer;
            height: 42px;
             background-color: #ffffff;
              border-left: 10px solid #ffffff;
          
        }

            .side-navbar-wrapper ul > li > i {
                float: right;
                padding: 12px 15px 0px 12px;
                color: #3f4141;
                 font-weight: 800;
                 font-size:15px;
            }

    /* We apply the background hover color when user hover the mouse over of the li component */

    .side-navbar-wrapper > ul > li.main-menu-item:hover {
        background-color: #eaeaea;
        border-left: 10px solid #afdede;
        position: relative;
    }
    .side-navbar-wrapper > ul > li.active {
        background-color: #eaeaea;
        border-left: 10px solid #afdede;
        position: relative;
        
    }
        .side-navbar-wrapper > ul > li.main-menu-item:hover a {
            /*padding-left: 10px;*/
        }
        .side-navbar-wrapper > ul > li.active a {
            padding-left: 10px;
        }
    /* We apply the link style */
    .side-navbar-wrapper ul li a {
        padding: 11px 15px 8px 20px;
        /*color: #cccccc;*/
         color: #3f4141;
        display: inline-block;
        text-decoration: none;
        /*font-weight: normal !important;*/
         font-weight: 600;
        font-style: normal!important;
        /*-webkit-font-feature-settings: normal;*/
        /*text-rendering: optimizeLegibility !important;*/
        -webkit-font-smoothing: antialiased !important;
    }
    /**** SECOND LEVEL MENU ****/
    /* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */

    .side-navbar-wrapper ul li ul {
        position: absolute;
        display: none;
        margin-top: 0%;
        -webkit-box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
    }

    /*When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
    .side-navbar-wrapper ul li:hover ul {
        left: 254px;
        top: 0px;
        display: inline-block;
        z-index: -1;
        /*-webkit-box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 0px 2px 0px rgba(0, 0, 0, 0.5);*/
        /*-webkit-box-shadow:  1px 0px 10px 0px rgba(0, 0, 0, 0.5)!important;
    box-shadow:  1px 0px 10px 0px rgba(0, 0, 0, 0.5)!important;*/
    }

    .side-navbar-wrapper ul li ul li.tier-two-menu-item {
        border-left: 10px solid #ffffff;
        /*background-color: #222222;*/
        background-color:#ffffff;
          -webkit-box-shadow: 1px 0px 0px 0px rgba(204, 204, 204, 1) !important;
        box-shadow: 1px 0px 0px 0px rgba(204, 204, 204, 1) !important;
        /*-webkit-box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.5);
        box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.5);*/
        /*-webkit-box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.5)!important;
    box-shadow:  1px 0px 0px 0px rgba(0, 0, 0, 0.5)!important;*/
    }

    /* we apply different background color to 2nd level menu items*/

    .side-navbar-wrapper ul li ul li {
        background-color: #edeff0;
        height: 35px;
        width: 275px;
         
    }

    /* We change the background color for the level 2 submenu when hovering the menu */
    .side-navbar-wrapper ul li:hover ul li:hover {
        background-color: #eaeaea;
        border-left: 10px solid #afdede;
    }
    /* We style the color of level 2 links */

    .side-navbar-wrapper ul li ul li a {
        /*color: #cccccc;*/
          color: #3f4141;
        display: inline-block;
        padding: 7px 0px 8px 20px;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 600;
        font-style: normal;
    }

    .side-navbar-wrapper ul > li > ul > li > i {
        float: right;
        padding: 12px 15px 0px 0px;
        color: #3f4141;
         font-weight: 600;
    }


    /**** THIRD LEVEL MENU ****/
    /* We need to hide the 3rd menu, when hovering the first level menu */
    .side-navbar-wrapper ul li:hover ul li ul {
        position: absolute;
        display: none;
        padding:0px;
        /*background-color:#edeff0;*/
        z-index:-2!important;
    }

    .side-navbar-wrapper ul li ul li ul .tier-three-menu-item {
        border-left: 5px solid #ffffff;
    }

    /* We show the third level menu only when they hover the second level menu parent */
    .side-navbar-wrapper ul li:hover ul li:hover ul {
        display: inline-block;
        left: 275px;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(204, 204, 204, 1) !important;
        box-shadow: 2px 2px 3px 0px rgba(204, 204, 204, 1) !important;
         top: -34px;
        /*transform: translateY(-0px);*/
        position:relative;
        /*margin-top: 0%;*/
        /*vertical-align:auto;*/
        
    }
        /* We change the background color for the level 3 submenu*/

        .side-navbar-wrapper ul li:hover ul li:hover ul li {
            background: white;
            width: 255px;
            height: 25px;
            z-index:-2!important;
        }

            /* We change the background color for the level 3 submenu when hovering the menu */

            .side-navbar-wrapper ul li:hover ul li:hover ul li:hover {
                background: #edeff0;
                border-left: 5px solid #afdede;
            }
            /* We change the level 3 link color */

            .side-navbar-wrapper ul li:hover ul li:hover ul li a {
                /*color: #cccccc;*/
                  color: #3f4141;
                display: inline-block;
                padding: 3px 0px 3px 10px;
                  font-family: 'Open Sans', sans-serif;
                font-size: 13px;
                font-weight: 600;
                font-style: normal;
            }
            

/* Clear float */

.clear {
    clear: both;
}
